@model IEnumerable<PageChangeWithoutRefreshApp.Models.MyItem>

@{
    ViewData["Title"] = "Items Page";
}

<h1>Items Page</h1>

<div id="container">
     <partial name="FilteredItems" model="Model" />
</div>

<input type="button" onclick="GetFilteredItems()" value="Get Filtered Items" />

<script type="text/javascript" src="~/js/Item/Index.js"></script>